.heading{
    height: auto;
    width: 100%;
    
}

.nav{
    margin-left: 30%;
    margin-right: 30%;
}

.heading h1{
    color: red;
    margin-left: 10%;
}

.nav li{
    color: red;
    display: inline-block;
}

.inline-row{
    height: auto;
    width: 100%;
    display: inline-block;
}

.content{
    width: 100%;
    height: auto;
    background-color: #FF2400;
    margin-left: 15%;
    margin-right: 15%;
}

body{
    overflow-x: hidden;
}